<h1>Welcome to likes page</h1>
<% likenames = ["Acoustic", "Alt-Country", "Alternative", "Ambient", "Americana", 
	"Art Rock", "Atmospheric Black Metal", "Avant-Garde", "Beats", "Bedroom Pop", 
	"Black Metal", "Bluegrass", "Blues", "Breakbeat", "Breakcore", "Chillwave", 
	"Chiptune", "Christian", "Christmas", "Classical", "Country", "Crust", 
	"Dance", "Dancehall", "Dark Ambient", "Deathcore", "Death Metal",
	"Deep House", "Depressive Black Metal", "Djent", "Doom","Doom Metal", "Downtempo", "Dream Pop", 
	"Drone","Drum & Bass", "Dub", "Dubstep", "Easy Listening", "EDM", "Electronica", 
	"Electropop", "Emo", "Experimental", "Field Recordings", "Folk Rock", "Free Jazz",
	"Funk", "Fusion", "Garage Rock", "Glitch", "Gospel", "Grime", "Grindcore",
	"Groove", "Hard Rock", "Hardcore", "Hip-Hop/Rap", "House", "IDM", "Indie", "Industrial",
	"Instrumental", "Jazz", "Krautrock","Latin", "Lo-fi", "Lounge", "Math Rock", 
	"Melodic Death Metal", "Melodic Hardcore", "Metal", "Metalcore", "Minimal",
	"Modern Classical", "Musique Concrete", "New Wave", "Noise", "Noise Pop", 
	"Pop", "Pop Punk", "Post-Hardcore","Post-Metal", "Post-Punk", "Post-Rock", 
	"Powerviolence", "Progressive", "Psychadelic", "Punk", "R&B", "Reggae", 
	"Rock", "Rockabilly", "Screamo", "Shoegaze", "Singer-Songwriter", "Sludge", 
	"Soul", "Soundtrack", "Space Rock", "Spoken Word", "Stoner Rock", "Surf", 
	"Synthpop", "Synthwave", "Techno", "Thrash", "Trance", "Trap", "Trip Hop", 
	"Vaporwave", "Video Game Music", "Witch House", "World"] %>
<p></p>
<% current_user.likes.split("").each_with_index do |like,index| %>
	<%= check_box_tag 'likes[#{index}]', !like.to_i.zero?, !like.to_i.zero? %>

	<%= label_tag 'likes', likenames[index]%>
	<% if index == 7 || index == 17 || index ==  26 || index == 34                                                                      || index == 43 || index == 53 || index == 64 || index == 73                                                                    	|| index == 81 || index == 91 || index == 100 ||index == 110 %>
			<p></p>
		<%end%>

	<%end%>
	<p></p>
	<%= submit_tag "Save" %>

